{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}
 No entry found in database.
 <br>
 <a href="/category">Index</a>
 <br>
 <a href="/category/new">Add Category</a>
{% endblock %}


