{% extends 'base.html.twig' %}

{% block title %} Product {% endblock %}

{% block body %}
 No entry found in database.
 <br>
 <a href="/product">Index</a>
 <br>
 <a href="/product/new">Add Product</a>
{% endblock %}


